@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
    .scroll-hidden::-webkit-scrollbar {
        height: 0px;
        background: transparent; /* make scrollbar transparent */
        width: 0 !important;
    }
    .scroll-hidden::-webkit-scrollbar-thumb {
        width: 0 !important;
        background: rgba(0, 0, 0, 0.5);
        border: solid 3px transparent;
        background-clip: content-box;
        border-radius: 17px;
    }

    .scroll-y-beautify::-webkit-scrollbar {
        @apply w-2 rounded-r-sm bg-slate-200 dark:bg-slate-700;
    }
    .scroll-y-beautify::-webkit-scrollbar-thumb {
        @apply bg-slate-500 dark:bg-slate-800 rounded-sm;
    }
    .scroll-beautify::-webkit-scrollbar {
        @apply w-2 rounded-r-sm bg-slate-200 dark:bg-slate-700 h-2;
    }
    .scroll-beautify::-webkit-scrollbar-thumb {
        @apply bg-slate-500 dark:bg-slate-800 rounded-sm;
    }

    trix-toolbar [data-trix-button-group="file-tools"] {
        @apply hidden;
    }
}
@layer components {
    .my-button {
        /* add padding */
        @apply rounded bg-blue-500 py-2 px-4 font-bold text-white hover:bg-blue-700 focus:bg-blue-700 active:bg-blue-900;
    }
}
@layer utilities {
    reset-button {
        @apply bg-transparent text-slate-800 hover:bg-transparent focus:no-underline focus:shadow-none focus:outline-none focus:ring-0 active:bg-transparent;
    }
}
