@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
    .scroll-hidden::-webkit-scrollbar {
        height: 0px;
        background: transparent; /* make scrollbar transparent */
        width: 0 !important;
    }
    .scroll-hidden::-webkit-scrollbar-thumb {
        width: 0 !important;
        background: rgba(0, 0, 0, 0.5);
        border: solid 3px transparent;
        background-clip: content-box;
        border-radius: 17px;
    }

    .scroll-y-beautify::-webkit-scrollbar {
        @apply w-2 rounded-r-sm bg-slate-200 dark:bg-slate-700;
    }
    .scroll-y-beautify::-webkit-scrollbar-thumb {
        @apply bg-slate-500 dark:bg-slate-800 rounded-sm;
    }
    .scroll-beautify::-webkit-scrollbar {
        @apply w-2 rounded-r-sm bg-slate-200 dark:bg-slate-700 h-2;
    }
    .scroll-beautify::-webkit-scrollbar-thumb {
        @apply bg-slate-500 dark:bg-slate-800 rounded-sm;
    }
    aside {
        @apply flex flex-col fixed z-20 left-0 top-0 lg:translate-x-0 transform h-screen w-64 shrink-0 p-4 transition-transform duration-200 ease-in-out -translate-x-64 bg-white shadow dark:bg-gray-800 mt-16;
    }
    aside > div {
        @apply flex flex-col gap-2 dark:text-slate-300;
    }
    aside > div > h3 {
        @apply text-xs uppercase text-slate-500 font-semibold border-b-2 border-slate-500 pb-3;
    }
    aside > div > ul > li {
        @apply mb-0.5 last:mb-0;
    }
    aside > div > ul > li.active {
        @apply bg-slate-900 dark:bg-slate-400 text-slate-400 dark:text-slate-900;
    }
    aside > div > ul > li > a > div {
        @apply flex items-center px-3 py-2 hover:bg-slate-900 dark:hover:bg-slate-400 transition-all duration-300 ease-in-out dark:hover:text-slate-800 hover:text-slate-300 rounded-sm;
    }
    aside > div > ul > li > a > div > span {
        @apply ml-3;
    }
    trix-toolbar [data-trix-button-group="file-tools"] {
        @apply hidden;
    }
}
@layer components {
    .my-button {
        /* add padding */
        @apply rounded bg-blue-500 py-2 px-4 font-bold text-white hover:bg-blue-700 focus:bg-blue-700 active:bg-blue-900;
    }
}
@layer utilities {
    reset-button {
        @apply bg-transparent text-slate-800 hover:bg-transparent focus:no-underline focus:shadow-none focus:outline-none focus:ring-0 active:bg-transparent;
    }
}
